.generator {
    position: relative;
}

.outputboxWrapper {
    position: relative;

    .imageOneWrapper {
        opacity: 0.75;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-10%, -30%);

        @media (min-width: 768px) {
            transform: translate(50%, -50%);
        }
    }

    .imageTwoWrapper {
        opacity: 0.75;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-60%, -75%);
    }

    .imageThreeWrapper {
        opacity: 0.5;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(-10%, 75%) rotate(180deg);

        @media (min-width: 992px) {
            transform: translate(-75%, 75%) rotate(180deg);
        }
    }
}

.optionsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2.5rem;

    @media (min-width: 992px) {
        gap: 1rem;
    }

    @media (min-width: 1200px) {
        gap: 2rem;
    }
}

.btnWrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    margin-top: 16px;
    text-align: left;
}

.loaderWrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
