.generateBtn {
    background-color: transparent;
    border: 1px solid #ffffff77;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 200;
    letter-spacing: 0.5px;
    outline: none;
    padding: 6px 10px;
    text-transform: uppercase;
    transition: box-shadow 0.15s, background-color 0.15s, border 0.15s;

    &:hover {
        background-color: #ffffff07;
        border-color: #fff;
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.1);
        outline: none;
    }

    &:focus {
        border-color: #fff;
    }

    &:disabled {
        background-color: transparent !important;
        border-color: #777;
        box-shadow: none !important;
        color: #777;
        cursor: not-allowed;
    }

    @media (min-width: 992px) {
        font-size: 0.85rem;
        padding: 8px 12px;
    }

    @media (min-width: 1500px) {
        font-size: 0.95rem;
        padding: 10px 14px;
    }
}
