@import '../../variables.scss';

.generateBtn {
    background-color: transparent;
    border: $border;
    border-radius: 4px;
    box-shadow: none;
    color: $accent;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 200;
    letter-spacing: 0.5px;
    outline: none;
    padding: 6px 10px;
    text-transform: uppercase;
    transition: box-shadow 0.15s, background-color 0.15s, border 0.15s;

    &:hover {
        background-color: rgba($color: $white, $alpha: 0.05);
        border-color: $accent;
        box-shadow: 0px 6px 10px rgba($color: $black, $alpha: 0.2);
        outline: none;
    }

    &:focus {
        border-color: $accent;
        box-shadow: 0px 6px 10px rgba($color: $black, $alpha: 0.2);
    }

    &:disabled {
        background-color: transparent !important;
        border-color: $grey;
        box-shadow: none !important;
        color: $grey;
        cursor: not-allowed;
    }

    @media (min-width: 992px) {
        padding: 8px 12px;
    }

    @media (min-width: 1500px) {
        padding: 10px 14px;
    }
}
