.outputBox {
    background-color: #292f52;
    border: 1px solid #ffffff3f;
    border-radius: 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    gap: 0.75rem;
    margin: 0 auto;
    height: 300px;
    overflow-y: auto;
    position: relative;
    text-align: left;
    z-index: 1;
}

.outputContent {
    padding: 1rem;
}