@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');
@import './variables.scss';

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Code', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    align-items: center;
    background-color: $primary;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
}
