$accent: #FFF;
$black: #000;
$dark: #1f1f1f;
$grey: #777;
$light: #F7F7F7;
$primary: #292f52;
$primary-dimmed: #393f5e;
$secondary: #b8c0e7;
$white: #FFF;

$border: 1px solid rgba($color: $white, $alpha: 0.25);